<div class="side_navbar">
 	<ul>
 		<li><%= link_to "Show", @buck %></li>
		<li><%= link_to "View All", bucks_path %></li>		
 	</ul>
</div>
<% title "Edit Buck" %>

<%= render :partial => 'form' %>
