<div class="side_navbar">
 	<ul> 		
		<li><%= link_to 'Training', trainings_path %></li>		
		<li><%= link_to 'Availability', availabilities_path %></li>
		<li><%= link_to 'Bucks', bucks_path %></li>		
		<br/>
		<li><%= link_to 'Options', options_path %></li>
		
 	</ul>	
</div>