<div class="side_navbar">
 	<ul>
 		<li><%= link_to "Show", @availability %></li>
		<li><%= link_to "View All", availabilities_path %></li>
		
 	</ul>
</div>
<% title "Edit Availability" %>

<p>Manual Add and Edit form will come soon enough</p>
